body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  overflow: hidden;
}

.text {
  float: left;
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
}

.image {
  float: right;
  width: 40%;
  box-sizing: border-box;
}

h1 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.bio-image {
  max-width: 100%;
  height: auto;
}



@media (max-width: 768px) {
  .text,
  .image {
    max: width 90px; ;
  }
}
